DEVNET_URL=
DEVNET_EXPLORER_API_URL=
DEPLOYER=

DEVNET_ARAGON_ACL=
DEVNET_ARAGON_AGENT=
DEVNET_ARAGON_VOTING=
DEVNET_ARAGON_FINANCE=
DEVNET_ARAGON_GOV_TOKEN=
DEVNET_ARAGON_CALLS_SCRIPT=
DEVNET_ARAGON_TOKEN_MANAGER=
DEVNET_ARAGON_KERNEL=
DEVNET_STETH=
DEVNET_NODE_OPERATORS_REGISTRY=
DEVNET_SIMPLE_DVT=
DEVNET_CURATED_MODULE=
DEVNET_STAKING_ROUTER=
DEVNET_LOCATOR=
DEVNET_VALIDATORS_EXIT_BUS_ORACLE=
DEVNET_EASY_TRACK=
DEVNET_EVM_SCRIPT_EXECUTOR=

CSM_MODULE_ADDRESS=
CSM_ALLOWED_MERKLE_GATES_REGISTRY_ADDRESS=

CM_MODULE_ADDRESS=
CM_META_REGISTRY_ADDRESS=
CM_ALLOWED_MERKLE_GATES_REGISTRY_ADDRESS=
