__pycache__
.history
.hypothesis/
build/
reports/
typings/
.DS_Store
.env
/venv
.direnv
.vscode
.pytest_cache
node_modules
/contracts_flattened
logs
cache
tags
.idea/
.yarn/

# Foundry
foundry-out/
.forge-cache/
out/
broadcast/
localhost.json
