build/
reports/

# Solidity files formatted before the Prettier check was enforced.
# Do not reformat them: the deployed and audited source must stay byte-identical.
contracts/AllowedRecipientsRegistry.sol
contracts/EVMScriptExecutor.sol
contracts/EVMScriptFactories/AddAllowedRecipient.sol
contracts/EVMScriptFactories/AddNodeOperators.sol
contracts/EVMScriptFactories/AddRewardProgram.sol
contracts/EVMScriptFactories/AllowConsolidationPair.sol
contracts/EVMScriptFactories/CreateOrUpdateOperatorGroup.sol
contracts/EVMScriptFactories/IncreaseNodeOperatorStakingLimit.sol
contracts/EVMScriptFactories/RemoveAllowedRecipient.sol
contracts/EVMScriptFactories/RemoveRewardProgram.sol
contracts/EVMScriptFactories/ReportWithdrawalsForSlashedValidators.sol
contracts/EVMScriptFactories/SetMerkleGateTree.sol
contracts/EVMScriptFactories/SetNodeOperatorNames.sol
contracts/EVMScriptFactories/SetNodeOperatorRewardAddresses.sol
contracts/EVMScriptFactories/SetVettedValidatorsLimits.sol
contracts/EVMScriptFactories/SettleGeneralDelayedPenalty.sol
contracts/EVMScriptFactories/TopUpLegoProgram.sol
contracts/EVMScriptFactories/TopUpRewardPrograms.sol
contracts/EVMScriptFactories/UpdateStakingModuleShareLimits.sol
contracts/EVMScriptFactories/vaultFactories/AlterTiersInOperatorGrid.sol
contracts/EVMScriptFactories/vaultFactories/ForceValidatorExitsInVaultHub.sol
contracts/EVMScriptFactories/vaultFactories/RegisterGroupsInOperatorGrid.sol
contracts/EVMScriptFactories/vaultFactories/RegisterTiersInOperatorGrid.sol
contracts/EVMScriptFactories/vaultFactories/SetJailStatusInOperatorGrid.sol
contracts/EVMScriptFactories/vaultFactories/SetLiabilitySharesTargetInVaultHub.sol
contracts/EVMScriptFactories/vaultFactories/SocializeBadDebtInVaultHub.sol
contracts/EVMScriptFactories/vaultFactories/UpdateGroupsShareLimitInOperatorGrid.sol
contracts/EVMScriptFactories/vaultFactories/UpdateVaultsFeesInOperatorGrid.sol
contracts/EVMScriptFactories/vaultFactories/VaultsAdapter.sol
contracts/EVMScriptFactoriesRegistry.sol
contracts/EasyTrack.sol
contracts/LimitsChecker.sol
contracts/MotionSettings.sol
contracts/RewardProgramsRegistry.sol
contracts/interfaces/IBaseModule.sol
contracts/interfaces/IBokkyPooBahsDateTimeContract.sol
contracts/interfaces/IConsolidationMigrator.sol
contracts/interfaces/IEVMScriptFactory.sol
contracts/interfaces/IEasyTrack.sol
contracts/interfaces/ILidoLocator.sol
contracts/interfaces/IMerkleGate.sol
contracts/interfaces/IMetaRegistry.sol
contracts/interfaces/IOperatorGrid.sol
contracts/interfaces/IVaultFactory.sol
contracts/interfaces/IVaultHub.sol
contracts/interfaces/IVaultHubStub.sol
contracts/interfaces/IVaultsAdapter.sol
contracts/libraries/EVMScriptPermissions.sol
contracts/libraries/SubmitExitRequestHashesUtils.sol
contracts/payouts/multi-token/AllowedRecipientsBuilder.sol
contracts/payouts/multi-token/AllowedRecipientsFactory.sol
contracts/payouts/multi-token/AllowedTokensRegistry.sol
contracts/payouts/multi-token/TopUpAllowedRecipients.sol
contracts/payouts/multi-token/interfaces/IAllowedRecipientsRegistry.sol
contracts/payouts/multi-token/interfaces/IAllowedTokensRegistry.sol
contracts/payouts/single-token/AllowedRecipientsBuilderSingleToken.sol
contracts/payouts/single-token/AllowedRecipientsFactorySingleToken.sol
contracts/payouts/single-token/TopUpAllowedRecipientsSingleToken.sol
contracts/test/BaseModuleStub.sol
contracts/test/CSModuleNodeOperatorsStub.sol
contracts/test/ConsolidationMigratorStub.sol
contracts/test/EVMScriptFactoryStub.sol
contracts/test/EVMScriptPermissionsWrapper.sol
contracts/test/ForceTransfer.sol
contracts/test/LidoLocatorStub.sol
contracts/test/LimitsCheckerWithPrivateViewsExposed.sol.sol
contracts/test/MerkleGateStub.sol
contracts/test/MetaRegistryStub.sol
contracts/test/MockERC20.sol
contracts/test/NodeOperatorsRegistryStub.sol
contracts/test/OperatorGridStub.sol
contracts/test/StakingVaultStub.sol
contracts/test/VaultHubStub.sol
